<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>小蝌蚪找妈妈</string>
		<key>detail</key>
		<string>
      暖和的春天来了。池塘里的冰融化了。青蛙妈妈睡了一个冬天，也醒来了。她从泥洞里爬出来，扑通一声跳进池塘里，在水草上生下了很多黑黑的圆圆的卵。
　　春风轻轻地吹过，太阳光照着。池塘里的水越来越暖和了。青蛙妈妈下的卵慢慢地都活动起来，变成一群大脑袋长尾巴的蝌蚪，他们在水里游来游去，非常快乐。
　　有一天，鸭妈妈带着她的孩子到池塘中来游水。小蝌蚪看见小鸭子跟着妈妈在水里划来划去，就想起自己的妈妈来了。小蝌蚪你问我，我问你，可是谁也不知道。
　　“我们的妈妈在哪里呢?”
　　他们一起游到鸭妈妈身边，问鸭妈妈：
　　“鸭妈妈，鸭妈妈，您看见过我们的妈妈吗?请您告诉我们，我们的妈妈是什么样的呀?”
　　鸭妈妈回答说：“看见过。你们的妈妈头顶上有两只大眼睛，嘴巴又阔又大。你们自己去找吧。”
　　“谢谢您，鸭妈妈!”小蝌蚪高高兴兴地向前游去。
　　一条大鱼游过来了。小蝌蚪看见头顶上有两只大眼睛，嘴巴又阔又大，他们想一定是妈妈来了，追上去喊妈妈：“妈妈!妈妈!”
　　大鱼笑着说：“我不是你们的妈妈。我是小鱼的妈妈。你们的妈妈有四条腿，到前面去　找吧。”
　　“谢谢您啦!鱼妈妈!”小蝌蚪再向前游去。
　　一只大乌龟游过来了。小蝌蚪看见大乌龟有四条腿：心里想，这回真的是妈妈来了，就追上去喊：“妈妈!妈妈!”
　　大乌龟笑着说：“我不是你们的妈妈。我是小乌龟的妈妈。你们的妈妈肚皮是白的，到前面去找吧。”
　　“谢谢您啦!乌龟妈妈!”小蝌蚪再向前游去。
　　一只大白鹅“吭吭”地叫着，游了过来。小蝌蝌看见大白鹅的白肚皮，高兴地想：这回可真的找到妈妈了。追了上去，连声大喊：“妈妈!妈妈!”
　　大白鹅笑着说：“小蝌蝌，你们认错了。我不是你们的妈妈，我是小鹅的妈妈。你们的妈妈穿着绿衣服，唱起哥来‘各各各’的，你们到前面去找吧。”
　　“谢谢您啦!鹅妈妈!”小蝌蚪再向前游去。
　　小蝌蚪游呀、游呀，游到池塘边，看见一只青蛙坐在圆荷叶上“各各各”地唱歌，他们赶快游过去，小声地问：“请问您：您看见了我们的妈妈吗?她头顶上有两只大眼睛，嘴巴又阔又大，有四条腿，白白的肚皮，穿着绿衣服，唱起来‘各各各’的………”
　　青蛙听了“各各”地笑起来，她说“唉!傻孩子，我就是你们的妈吗呀”
　　小蝌蚪听了，一齐摇摇尾巴说：“奇怪!奇怪!我们的样子为什么跟您不一样呢?”
　　青蛙妈妈笑着说：“你们还小呢。过几天你们会长出两条后腿来;再过几天，你们又会长出两条前腿来，四条腿长齐了，脱掉了绿衣服，就跟妈妈一样了，就可以跟妈妈跳到岸上去捉虫吃了。”
　　小蝌蚪听了，高兴得在水里翻起跟头来：“啊!我们找到妈妈了!我们找到妈妈了!好妈妈，好妈妈，您快到我们这儿来吧!您快到我们这儿来吧!”
　　青蛙妈妈扑通一声跳进水里，和她的孩子蝌蚪一块儿游玩去了。</string>
		<key>image</key>
		<string>http://www.feicuiyy.com/uploads/allimg/140423/22-140423164418.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>蒲公英</string>
		<key>detail</key>
		<string>春天来了，太阳暖暖的。小河里的冰融化了，水孩子唱着欢快的歌儿奔向远方。小蚂蚁们高兴极了，探头探脑的在家门口张望着，一会儿就一溜烟跑了好远。
田野村庄都变得热闹起来，桃花红，杏花白，碧绿的柳枝垂成一顶华盖。蒲公英从梦中醒来，使劲伸了伸懒腰，钻出来。外面是一个多么美丽的世界，她心想。
两只小鸟在摇摇晃晃的柳树枝头，你一言，我一语。
“多好的春光啊！我们去桃花树上唱歌吧！”
“好啊！好啊！那里的空气香极了，小蜜蜂一定早去了！”
他们兴高采烈飞走了，一会儿，风里就传来清脆的歌声。
蒲公英听着，心里痒痒的，她也想去赏桃花，一睹芳容。她使劲的要把身子拔高一些，再高一些，可是，远远的她只望见一团粉红色，朦胧的像个梦。
这时，她听见旁边有人说话。
 “小姐，别幻想了，那份美，与咱们不相干。”
回头一看，是苍耳。说老实话，对丑丑的苍耳，她心里还有几分讨厌。
夜晚，一场大雨下起来，冷嗖嗖的。
风呼啸声还有点吓人，突然，蒲公英发现自己感觉不到那冷兮兮的雨落在身上了。她抬
头一看，原来是苍耳用她小小的胳膊在为她遮雨。
蒲公英惭愧的红了脸。
清晨，小河里飘来朵朵桃花，她们苦丧着脸，毫无血色。  
苍耳噘噘嘴说：“看，现在还羡慕吗？娇弱的花朵那经得起风雨考验。”
这一次，蒲公英觉的苍耳的话很有哲理的味道。
夏天到了，莺歌燕舞，晴空丽日。蒲公英开花了，金黄金黄的花朵，看上去特别耀眼。蒲公英心里美滋滋的。开在她身边的那些打碗碗花，豆角角花，猫眼睛花，她都不屑一
顾。她极力的挺直了细细的腰身，高昂着头，像个公主似的。
一天，一位母亲和女儿从她身边走过。瘦弱的母亲扛着农具，快乐的女儿蹦蹦跳跳跟在后面。
突然，小女孩看见了地上的花朵，她停住脚蹲下来开始摘。很快，打碗碗花，豆角角花，猫眼睛花，都被她捧在了手里。她们挤在一起兴奋的准备离开这片荒野。
蒲公英使劲地朝小女孩招手，可是，这时候，母亲在前面叫她了，小女孩望了蒲公英一眼，飞快地跑远了。蒲公英沮丧极了，她觉得那些被小女孩带走的花儿多幸运，多幸福啊！现在，她只有苍耳这一个朋友在身边了。
秋天来了，风里夹着凉意。蚂蚁们忙忙碌碌，开始储存粮食。
蒲公英和苍耳都做了母亲。她怀里毛绒绒的孩子们整天吵吵闹闹，计划着去旅行。
苍耳的孩子们早就一个个搭上行人或者野兔的车远走他乡了。
面对蒲公英的不舍，苍耳总是那般乐观笃定。
“让他们去翱翔吧！世界很美丽。”
“可是，我的孩子们太小太轻了呀！”
“正因为他们轻，才能飞得更高，看得更远。” 
孩子们走了，或者坐在风的羽翼，或者乘着农人的粮车。
蒲公英的心里涌上一丝感伤。
不久，冬天就会来临。树木卸下盛装，田野一派萧条。
蒲公英叹口气说：
“生命的尽头不远了，来年还能见面吗？”
苍耳沉默着。  忽然，不约而同，她们看见了一个小小的身影，那个在夏天里跟在妈妈身后快乐的小女孩。
这一次，小女孩愁眉苦脸的，在地上找寻着什么。
突然，小女孩看见了蒲公英，她笑了，笑的那么美。
“是她，是她，她惊喜的喊着。随后，她把蒲公英带回了家。
这是一间昏暗的屋子，床上，小女孩的母亲在被子里躺着，发烧了。
小女孩给蒲公英洗了个澡，她被放入一个砂罐中。在那里，她见到了苍耳的孩子们，她
把他们紧紧地拥进了怀中。之后，在闷热的砂罐中，她们流出很多汗，把水都染了色。
第二天，蒲公英看到小女孩的母亲又扛起农具准备出门了。
小女孩指着蒲公英和苍耳子说：
”妈妈，是她们救了你！”
那一刻蒲公英觉的好幸福！
蒲公英在小女孩暖暖的小手中又回到了田野。
她兴奋地向她身边的花草树木讲述着这段经历。
最后，她激动地告诉大家
“只有能帮助到人们的花，才是最美的，最幸福的。”</string>
		<key>image</key>
		<string>http://m2.quanjing.com/2m/ojo002/pe0072633.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>聪明的小金花</string>
		<key>detail</key>
		<string>   在很久很久以前，有一座大山，山上有一个洞穴，里面住着三只老虎，一只母老虎，两只小老虎。山下是一个小村子，小金花和她的弟弟小银花还有他们的妈妈就在这个村子里靠近山脚边的一户人家。小金花今年八岁了，小银花四岁。
老虎接连一个月没有下山了，他们在山上找不到吃食就会下山来吃人。所以，村子里的人，都对老虎谨慎防犯。尤其是大人不在家的时候，是千万不开门的。有一天，小金花和小银花的妈妈要出门办事，所以晚上，他们姐弟俩只能独自呆在家里。妈妈临走时千万交待山上老虎的事情，让他们把门关得紧紧的。
终于，傍晚来了，妈妈已经离开了家。山上的母老虎看到小老虎们都快被饿坏了，便趁机乔扮成外婆的模样下山来到了小金花他们家门前。
夜幕降临，
村子里一片静悄悄的。
小金花和小银花听妈妈的话，把门关得很严实。突然，
“咚咚咚”
响起了敲门的声音，老虎又装作外婆的声音喊道：
“金花，银花，外婆来啦！”
小金花和小银花都你看着我，我看着你不敢开门。
“金花，银花，外婆给你们拿好吃的来了，快给外婆开门！”
小银花一听外婆给他们带好吃的，就吵着让姐姐给外婆开门。
小金花走近透过门缝朝外面看，只见外面站着一个头上包着蓝花布头巾，手里挎着提篮的人，看上去好像外婆，才开了门。老虎走进屋后，小金花忙问：
“外婆，外婆，屋里那么黑，要不要点个灯？”
狡猾的老虎心里想：
“点了灯，我不就原形毕露了嘛！”
于是推辞道：
“乖孩子，外婆眼睛有点小毛病，看到灯光会流眼泪，眼睛不舒服。”
小金花又说：
“外婆，外婆，那你坐下休息会儿吧”
老虎心想，
“要是坐板凳，我的尾巴怎么放呢？”
于是，又对小金花说：
“乖孩子，板凳太硬，外婆坐着屁股疼，你给外婆拿个瓦罐来吧，外婆习惯坐在瓦罐上”
小金花是个特别孝顺的孩子，就给老虎搬来了瓦罐。老虎把自己的长尾巴伸到瓦罐里，然后坐下了。它那条尾巴却不自觉地在瓦罐里搅得“窸窣”作响。小银花好奇的问：
“外婆，外婆，您这瓦罐里装了什么，怎么那么响？”
狡猾的老虎说：
“银花啊，外婆这里面装的都是螃蟹，明天烧给你吃”
小银花一听外婆要给自己烧螃蟹吃就高兴得直拍手叫好。
小金花他们家只有一个床，所以今天他们得和老虎挤同一个床睡觉。老虎和小银花睡在同一头，小金花则睡在床的另一头。很快金花和银花都进入了沉沉的梦乡。
半夜的时候，小金花听到外婆嘴里在嚼什么东西，小金花忙问：
“外婆，你在吃什么呀？”
“哦，金花，外婆正在吃鸡爪呢！”
说完，老虎递了一个过去给小金花，小金花这才发现，那不是鸡爪，那是他的弟弟小银花的小手指——她的弟弟被老虎吃掉了！
小金花害怕极了，但是，她是一个聪明的孩子，她想自己得赶紧逃跑才是，就对老虎说：
“外婆，我想上厕所！”
老虎一听小金花要上厕所，担心小金花跑掉，就给小金花的脚上系上一条绳子。小金花没有办法，只能带着绳子跑开，没过一会儿，老虎就喊：
“金花，你好了没有？”
“快了，快了，外婆，你再等等！”
小金花灵机一动，迅速地把绑在自己脚上的绳子解开系在桌子腿上，老虎轻轻拉了拉绳子，心想：
“绳子是紧的，金花没有跑掉。”
小金花解开绳子后忙爬到屋外的大树上，因为她是山里的孩子，就已经学会了爬树。
老虎见小金花还没过来，就喊：
“金花，你好了没有？”
小金花站在屋外的大树上大喊：
“外婆，外婆，我在树上，你快出来，这儿放的烟花可好看啦！”
老虎就急忙走出屋去，假装担心劝道：
“哎呦，金花呀，你爬这么高，小心摔下来啊，快下来吧”
金花说：
“外婆，你也快上来吧，这儿看那边的烟花可漂亮啦！”
老虎苦恼地说：
“可是，外婆不会爬树！”
“哎呀，外婆，你把那根绳子摔在腰间，我帮你拉上来就可以了！”
老虎见小金花迟迟不肯下树，就只能把身子系在腰间让金花试一试，把自己拉上去。小金花使劲拉绳子，等到把老虎拉到半树腰的时候，就又放下，将老虎重重摔了一下，就这样，她把老虎摔了一次又一次，老虎疼得直叫，没过多久，就被摔死了。这时，小金花慢慢爬下树，叫来了全村的人来处理老虎。
就这样，在万分危急的时刻，聪明的小金花用勇敢和智慧战胜了狡猾的老虎</string>
		<key>image</key>
		<string>http://img0.imgtn.bdimg.com/it/u=977000583,1185114765&amp;fm=21&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>豌豆公主</string>
		<key>detail</key>
		<string>从前有一位王子，他想找一位公主结婚，但是她必须是一位真正的公主。他走遍了全世界，想要寻找到一位真正的公主，但不论走到什么地方，总碰到一些障碍。公主倒有的是，但王子无法判断她们究竟是不是真正的公主，因为她们总有一些地方不大对头，结果，他只好回家来，心中很不快活，因为他是多么渴望得到一位真正的公主。
有一天晚上，忽然起了一阵可怕的暴风雨，天空在掣电，在打雷，还下着大雨，这真使人有些害怕！这时，有人在敲门，老国王就走过去开门。站在城外的是一位美丽的公主。可是，天啊！经过了风吹雨打之后，她的样子是多么难看啊！水沿着她的头发和衣服向下流，流进鞋尖，又从脚跟流出来。她说她是一个真正的公主。
老皇后心想：“是的，这点我们马上就可以考查出来。”可是，她什么也没说。她走进卧房，把所有的被褥全部搬开，在床榻上放了一粒豌豆于是她取出二十张床垫子，把它们压在豌豆上。随后，她又在这些垫子上放了二十床鸭绒被。
这位公主夜里就睡在这些东西上面。
早晨大家问她昨晚睡得怎样。
“啊，一点儿也不舒服！”公主说。”我差不多整夜都没有合上眼！天晓得床下有什么东西？有一粒很硬的东西硌着我，弄的我全身发紫，这真是太可怕了！”
大家看出来了，她的确是一位真正的公主。因为压在这二十层床垫子和二十床鸭绒被下面的一粒豌豆，她居然还能感得觉出来。除了真正的公主以外，任何人都不会有这么稚嫩的皮肤的。
因此，那位王子就选她做妻子了，因为他知道他得到了一位真正的公主。这粒豌豆因此也送进了博物馆。如果没有人把它拿走的话，人们现在还可以在那儿看到它呢</string>
		<key>image</key>
		<string>http://s4.ppsimg.com/ugc/ugc_pic/0/de/005e690e482adce8c5e628c2d5a3b905db216db4/480_360_pps-000.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>聪明勇敢的兔子</string>
		<key>detail</key>
		<string>森林中住着一只奇怪的兔子，它像小猫一样矮，像小猪一样胖，像小熊一样爱吃蜂蜜，像人一样不爱运动。但它是一只勇敢聪明意志坚定的兔子，因为它总能按照自己的意愿办事。 　　一天早晨，被窝里的兔子被从窗户斜射进来的朝阳唤醒了。
　　兔子一把掀开被子，愤怒地说：“哦！太阳啊太阳，请你以后别再照到我身上，别再照到我的房间里，我要好好的睡一觉，睡到我再也不想睡为止！”
　　太阳听了兔子的话觉得既震惊又委屈：“兔子啊兔子，你知道你在说什么蠢话吗？我是万物生存的必需品，多少地方多少人想见我却见不到，而你竟要把我赶走……”
　　兔子只想快点回到梦里去守卫它的蜂蜜。可是太阳还在唠叨个不停，兔子不耐烦极了，腾地坐起来大声说：“好了好了，请你到那些需要你的地方去吧，别再烦我，我得去抢蜂蜜了！”
　　太阳简直被气坏了，咬着牙说：“好吧！我会如你所愿，绝不再照到你身上！”
　　太阳一走，兔子的房间就重新陷入黑暗中，而兔子却早已回到了梦里。 
　　就这样，兔子睡了七天七夜。
　　第七天，几声咕咕的巨响把兔子从睡梦中惊醒。
　　兔子吓坏了，大叫一声，马上从被窝里跳到了地板上。但兔子什么也看不见，因为房间里一片漆黑。兔子吓得蹲在地板上一动不敢动。
　　安静。房间里出奇的安静。突然，咕咕声又响了起来！先是咕咕，紧接着是咕咕咕咕，最后是咕咕咕。而且每一 声都有不同的调子，就好像有人在说话。但是兔子是一只勇敢的兔子，所以它尽管很害怕，还是安安静静地在听这可怕的咕咕声。兔子还是一只聪明的兔子，因为它 马上就听出来这并不是什么妖魔鬼怪的叫声，而是它自己的肚子在叫。兔子高兴起来：“哈哈！原来我饿了！我要去找些蜂蜜来吃！”
　　于是兔子马上动身去找蜂蜜。“我知道哪儿有最好的蜂蜜，那个地方就连小熊也不知道。虽然那些讨厌的蜜蜂要比这附近的蜜蜂凶得多，但我是勇敢、聪明、意志坚定的兔子，我一定能吃到最好的蜂蜜！”兔子边说边在黑暗中摸索着房间的大门。
　　兔子终于打开门，来到了屋外。它看到在金灿灿的阳光下满山的绿草和花儿都被镀上了美丽的金色。“哇！原来 今天阳光普照啊！太阳不照到我身上会有什么坏处呢！它还是得照到其它地方，这样我不还是照样能看见蜂蜜，能看见胡萝卜，能看见小猫、小猪和小熊！哈哈，在 这样的好天气里，我一定能满载而归！出发喽！”兔子高昂着脑袋，摇晃着它胖胖的身躯往山坡走去。
　　但渐渐地兔子发现有些地方不对劲。它离对面的山坡越近，它能看到的阳光灿烂的山坡就变得越小。兔子皱着眉停了下来。它环顾四周，突然害怕得瘫坐在地上。原来无论兔子望向何方，它只有在离自己十米远的地方才能看见光亮！  　　是的，和你想的一样，如果光从地面看，可怜的兔子就成了一个半径为十米的漆黑的圆的圆心。如果至上而下， 从蓝蓝的天空望到春天美丽的大地，那么你就会看到一个底面半径为十米的巨大圆柱，当然你看不到兔子，因为圆柱里面漆黑一片。这下兔子可真真正正的吓坏了， 它大叫了一声啊……”，然后疯狂地朝前奔去。它心里想：只要我跑得比这个怪圈快，我就可以出去了！我是一只勇敢、聪明、意志坚定的兔子！我一定能办成这件 事！ 
兔子就这样疯狂地跑了一天，最后它像一块融化了的巨大糖块 一样滩在了地上。它累极了！而且现在已经是晚上，所以就连十米外也是漆黑一片，兔子已经找不到回家的路了。可怜的兔子昏昏沉沉地睡了一会儿，觉得又饿又 累，又孤独又寂寞。更糟糕的是夜晚的露水下来了，兔子觉得冷极了。兔子想到温暖的太阳，但它马上制止了自己。“哦，你是个没出息的兔子吗？你要战胜太阳！ 不准想太阳！”所以兔子改为想自己暖和的被窝。接着咕咕声又响了起来，兔子立马就想到了蜂蜜。但它又觉得很冷，所以又想自己的被窝，可是肚子响得更厉害 了，于是它又想起了蜂蜜。但是它觉得更冷了，它刚想回到被窝，肚子却响得像打鼓。真是糟糕！被窝和蜂蜜的战争又开始了。兔子痛苦极了，它蜷曲着身体，哀求 道：“哦，暖和的被窝，香甜的蜂蜜，求求你们不要再争了！”但兔子的左耳朵有个声音在说：“你总是为了吃讨厌的黏糊糊的蜂蜜而离开我！我跟它势不两立！” 右耳朵也有声音了：“你和她待了七天七夜，碰也没碰过我！就是因为她你才会赶走太阳，你才会变成现在这样的！都怪她！都怪她！”肚子响得简直像鼓槌快敲破 了鼓面。左耳朵一点不示弱：“你不要胡说八道！都是因为去找你，我们才落到这个地步的！如果兔子一直跟我呆在一起肯定不会有事，都是因为你！”兔子被炒得 难受极了，不断地哀求它们：“你们别再吵了！”如果这时候你正好在这附近，你一定会以为在你看不见的黑暗里正在发生着一场魔鬼的争斗，起码胆小的小猪是这 样被吓跑的。 
　　小猪全速跑到小猫家，用它肥肥的手“啪啪啪”地敲打着小猫的 木门。“呼…哗…呼…哗…”，小猪喘着粗气，“有…有鬼在打架！”小猪长满猪毛的小脸涨的通红。小猫镇定地把小猪拉进屋里，小猪焦急地说：“真的有鬼在打 架！他们吵得好凶——”“好了，好了。”小猫把小猪推进椅子里，“如果真的是鬼，我们肯定对付不了，我们得去找小熊。但是小熊现在肯定睡了，因为它每天都 要早起去采蜂蜜。所以你也好好回家睡觉吧。”小猪的大屁股卡在了小猫的小椅子里，它一边用力挣脱，一边害怕地说：“可是我不敢一个人回家……”小猫一边转 过身去拿它自己做的松油灯，一边无奈地小声说：“你直接说你不敢回家好了。真亏你的大脑袋还能想出这么可怕的理由。”于是小猫拿着松油灯送小猪回家了。
　　快走到兔子那儿的时候，小猪害怕极了，它缩成一团躲在小猫的 后面，如果你见过肉丸子前面粘了一粒饭，那你就能想象出当时的情景有多滑稽了，而且恰好小猫就是一只白猫。小猫无奈极了。因为它真是一点也不相信小猪的 话。它为了嘲笑小猪，大声唱起了森林里只有它会唱的小猫之歌。这时黑暗中传来了一声可怕的怪叫！“啊！是你们！我在这儿！我快死了，快来救我！”我们谁都 知道这是兔子的呼救声，因为小猫的松油灯正好出现在离兔子十米远的地方，所以它知道是它的朋友们来了。但小猪吓得嗷嗷叫，并迅速地跑到一棵树后面躲了起 来。其实小猫也挺害怕，但它得装做不害怕，所以它继续大声地唱它的小猫之歌。声音又响起来了。“小猫！真的是你！”这下小猫也吓得拔腿就跑了。兔子看见它 们都跑了，就着急起来，拼尽全力大喊着：“别跑啊！是我，我是兔子！我快死了，快来救救我啊！”它们一听到“兔子”就真的都停了下来。小猫喘着气问小猪： “我们是不是八天没见到兔子了？”小猪翻着眼睛想了想，用力地点了点头。“也许它真是兔子呢。小猪你快去找小熊，我去兔子家看看兔子在不在。”小猪呆着一 动不动，大张着嘴，用恐惧的小眼睛瞟了瞟松油灯。小猫气极了：“拿去！拿去！”小猫把松油灯塞给小猪，狠狠地在它的屁股上踢了一脚，转身向兔子家跑去。 
　　小猪和小熊在兔子家找到了小猫。“兔子真的不在，我们去那里 看看吧。”小猫对它们说。于是它们又来到了兔子待的地方。它们对着黑夜大声喊着兔子的名字：“兔子！兔子！”可怜的兔子已经饿昏冻昏了，根本听不见它们的 喊声。但它们没有放弃，它们不停地走着喊着。突然小猪摔倒了！它嗷嗷地叫着，挣扎着，害怕极了，因为它踩到了一堆软软的怪东西。是的，小猪踩到的是可怜的 兔子。小熊把兔子背回了家，让它躺在自己的床上，还拿来自己的蜂蜜给它吃。慢慢地，兔子恢复了体力。它看着朋友们，嚎啕大哭起来。最后朋友们终于知道了事 情的全部经过。但朋友们都不知道怎样帮助兔子，因为谁都知道太阳是世界上最固执最古怪的老头，谁的话他也不听。小猫同情地说：“我把我自己做的松油灯都给 你吧，只要给我留一盏就可以了。”小猪怯怯地说：“也给我留——”小猪还没说完，小猫就狠狠地瞪了它一眼。小熊也说：“以后我帮你一起采蜂蜜吧。挖胡萝卜 也可以。”然后大家都转过头望着小猪。小猪扭扭捏捏，吞吞吐吐地说：“我能帮你干什么呢？我什么也不会，我还这么胆小……”于是大家只好什么也没让小猪 干。
　　日子就这样一天天的过着。兔子毕竟是勇敢、聪明、意志坚定的兔子，所以很快它就适应了这种生活，并下定决心一定要把日子过得和以前一样好。就像从前一样，现在它每天都在对自己说一遍：“我是一只勇敢、聪明、意志坚定的兔子，这件事我一定能办好！”</string>
		<key>image</key>
		<string>http://pic2.ooopic.com/01/42/16/56b1OOOPIC22.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精灵的忠告</string>
		<key>detail</key>
		<string>在很久很久以前，有一对幸福夫妻。他们生一对双胞胎两个可爱的男孩。夫妻俩很高兴，决定把两个孩子好好抚养成人，让他们成为最和睦的兄弟。
　　兄弟俩在父母宠爱下，吃在一起，玩在一起，形影不离。时光飞逝，兄弟俩渐渐的长大了，想要出去闯世界。这时夫妻俩已经老了，他们推着老花镜说：“孩子，出去闯闯是好事，可是你们一定要记住彼此是兄弟，这一点很重要。”
　　兄弟异口同声的说：“爹娘你们放心吧！我们永远是最好的兄弟。”
　　他们的话正好被邪恶的魔鬼听见，他觉得太可笑，他可不信这个世界上谁能经得起食物、爱情、金钱的诱惑。魔鬼打算一路上跟着他们兄弟让他们学会什么是自私、背叛、仇恨。
　　兄弟俩离开家，走呀走……不知不觉他们走进了沙漠。他们带来的食物都吃光了，魔鬼见机会来了，他抓了一把沙子，念着咒语把沙子变成了一块肉，放在了他们必经之路上。
　　兄弟俩正饿得发昏，突然看见沙漠中有一块肉，同时扑看过去，他们各自抓住肉的一边，哥哥心想当我是哥哥你就撒开手让我吃！弟弟也这么想。他们怒视着，手里紧紧拽着肉互不相让，这时天空中飞来一个精灵，她忍不住问：“你们在干什么？”
　　兄弟俩互相抢着回答道：“我们是兄弟……可他不当我是兄弟，肉都舍不得让我先吃，我都快饿死了……”
　　精灵叹息的说道：“还兄弟哪！真自私，你们就这样拽着肉都会饿死的！。”
　　兄弟俩听完羞愧地底下了头，同时撒开手说：“兄弟你先吃。”
　　精灵看到他们知道错了，还学会互相谦让非常高兴，于是使用魔法把他们俩送出了沙漠，来到了一座繁华地小城里。
　　兄弟俩很快找到了工作，在一家杂货铺做伙计。这家杂货铺的老板有一个女儿，长得非常漂亮，魔鬼就想到利用女孩的美丽，让兄弟争风吃醋。

兄弟俩几乎同时爱上了女孩，他们怒目相对：“要是当我是兄弟你就退出。”
　　可是他们谁也不想退出，爱情已经蒙蔽了他们的眼睛，他们要用决斗来决定谁追女孩。他们拿着剑冲进了树林，打算拼个你死我活，魔鬼看见他们愚蠢的样子，开心的哈哈大笑，急忙跟到树林看他们互相残杀。
　　就在兄弟俩拿着剑指向对方的时候，精灵悄然而至，她坐在树枝上轻声问：“你们不是亲兄弟吗？为什么要杀死对方？”
　　哥哥抢着说：“他爱上了我爱的女人。”
　　弟弟喷之以鼻道：“她爱的人是我！”
　　“不，她爱我……”
　　“她爱我……”兄弟两人喋喋不休的吵了起来。
　　精灵生气了拿着树枝敲打他们的头说：“你们是兄弟，怎么可以为了一个女孩互相残杀，真蠢。”
　　兄弟俩被精灵打得呲牙咧嘴，不过他们被打醒了，他们想起来在父母身边发的誓言，觉得很惭愧，竟然为了爱情去杀死自己的兄弟！这太恐怖了，他们扔了剑，放下仇恨，紧紧拥抱在一起。
　　魔鬼又失败了，他被气坏了，他马上使用魔法把树林里的石块变成了金子。
　　兄弟俩看见了金子拼命去捡，可是就在这时发生了大地震，树林在剧烈地颤抖，精灵大声呼唤着兄弟两个别捡了，快跑……兄弟两听见喊声贪婪的抱着金子不撒手，金子太沉了，他们想要跑出去就必须仍掉金子，他们互相看着对方说：“把你的金子扔掉吧！”
　　“不，还是把你的扔掉吧！”

“我不扔，你扔吧！”
　　于是他们又僵持在了一起，突然一棵大树倒了砸在了弟弟身上，哥哥拿着金子刚要跑，可是他看见精灵含着眼 泪，去推弟弟身上的树。在精灵的泪水他看见了父母，想起在父母面前的誓言，他急忙扔了金子去救弟弟，费了好大劲才把大树挪走，然后拖着受伤的弟弟跑出了树 林。跑到了安全地方，兄弟俩坐在地上喘息道：“真可惜金子都丢了。”
　　这时精灵又飞来了，她微笑着说：“不要伤心，金子虽然丢了，可是你们得到了比金子更珍贵的东西。”
　　兄弟俩手拉着手，相对一笑。然后深深的给精灵鞠了一躬，说：“我们明白了，我们永远是最好的兄弟！感谢您的忠告！”
　　精灵在他们鞠躬的时候悄悄飞走了，兄弟俩永远都不会知道精灵其实是父母的心变成的。
</string>
		<key>image</key>
		<string>http://www.sucaitianxia.com/sheji/pic/200708/20070818004917971.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小猫新盖的房子</string>
		<key>detail</key>
		<string>小猫要盖新房子了，朋友们都来帮忙。
　　“哼唷咳哟！”大象到树林里，运来一根又一根圆木。
　　“哧啦哧啦！”山羊和小花狗把圆木锯成一样厚的木板。
　　“丁当丁当！”小熊和小公鸡，一会儿就用木板钉成了一座漂亮的小房子。
　　汗水湿透了朋友们的衣衫，小花猫真感谢大家。他说：“等我把房子装饰好，请大家来做客。”
　　小花猫在墙上贴了一层奶白色壁纸，屋里亮堂多了;小花猫给玻璃窗挂了一层鹅黄色窗帘，屋里光线变得真柔和;小花猫在地上铺了花地毯，呀，走在上面真舒服。
　　好多天过去了，朋友们问小花猫：“小花猫，今天可以到你家做客吗？”
　　小花猫说：“不行，不行，现在正下雨，你们会把新房子弄脏的。”
　　又过了几天，朋友们又说：“小花猫，今天不下雨了，可以到你家做客吗？”
　　小猫说：“不行，不行，你们没看见天正在刮风，你们来会把新房子弄脏的。”
　　又过了几天，不下雨，也不刮风，太阳红红的，天气暖暖的，小猫说：“朋友们，请到我家来做客吧！”
　　朋友们高兴极了，可是，大象想了想，却对朋友们说：“小猫家铺了地毯，我们带着干净鞋子去吧！”
　　于是，有的夹着新鞋，有的包着刚刷过的干净鞋，笑嘻嘻地向小猫家走去。
　　到了小猫家门口，大家都换上了自己带来的干净鞋，刚要进门，小猫却端来一盆水说：“穿鞋会踩坏地毯的。大家脱了鞋，洗洗脚再进去吧！”
　　大象和小熊看看自己的脚，又看看那个小脸盆，摇了摇头：“算了，我们不进去了！”小山羊、小花狗、小公鸡见大象和小熊走了，说：“我们也不进去了！”，
　　从此，谁也再没到小猫家做过客，谁也不愿再找小花猫玩，每天和小猫做伴的，只有他的那座新房子。</string>
		<key>image</key>
		<string>http://img4.imgtn.bdimg.com/it/u=2548254070,842152974&amp;fm=21&amp;gp=0.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>天鹅湖</string>
		<key>detail</key>
		<string>
从前，有一位英俊的王子，名叫齐格夫。有一天和他的随从到森林里打猎。
这天来到一个湖边，风景非常美丽，而且湖面上还有许多雪白的天鹅在戏水。
“想不到森林里，竟然有这么安静、这么美丽的地方。”王子说。
可是，粗鲁的随从，看到这么多天鹅，认为是打猎的好对象——　　“慢着，不要发射！”
王子阻止他们。
随从们只好将弓箭收起来。不久，湖面上的天鹅。竟然变成美丽的少女。
其中有一位女孩，长的最美丽，王子不禁走到她的面前：
“真的对不起，我的随从差一点就伤了你。”
没想到，少女们竟然都伤心的留下眼泪来。王子觉得很奇怪。就问：
“怎么回事？”
那位最美丽的少女，擦了擦眼泪，显得有点害怕，她说：
“你是谁？为什么来到湖边？”
“我是齐格夫王子，你有什么困难，希望我能帮得上忙。”
“我是兰妮公主，我和我的侍女，受到巫师罗特巴的诅咒，才变成天鹅。”
“太可恶了！”
王子生气地说。
“我们白天变成天鹅，到了晚上，才能变回人身，现在已经到了黄昏，所以你才能看到我们原来的样子。”
兰妮公主一面说着，眼泪又忍不住掉下来。
王子看到兰妮公主美丽的脸庞，又十分同情她的遭遇，心中升起无限的怜爱。
“你放心，让我去找巫师罗特巴，设法解开魔咒，为你报仇。”
王子下定了决心。
忽然，一只猫头鹰从黑暗的森林深处，向王子的头顶攻击过来。
“啊！是巫师罗特巴！”
胆子小的侍女大叫一声，连忙逃开。
“我的闲事，你最好少管，齐格夫王子！”原来猫头鹰是巫师变成的。
王子指挥随从们应战，并抽出宝剑向巫师罗特巴砍去。
“看招！”
王子的剑术非常高明，终于把巫师所变的猫头鹰击退了。
“谢谢你，齐格夫王子。”
兰妮公主非常感激地表示。
”“美丽的公主，请你告诉我。应该怎么做，才能解开魔咒？”
公主忽然低下头来，含羞地说：
“只要你当着大家的面向我求婚，巫师罗特巴的魔咒就会解除，我们才能恢复原来的样子。” 
王子拉着公主的手：
“这太简单了，我愿意取你为妻。”
王子接着说：
“明天晚上，母亲为我举行选妃典礼。明天你一定要赶来，我要当着所有人的面前，向你求婚。”
这时，天已经亮了，公主和侍女们又变成了雪白的天鹅，飞向湖的那一边。
王子依依不舍地望着其中最美丽的一只天鹅，然后骑上马返回王宫。
齐格夫王子回到王宫里，女王已经为他选好了六位国内最美丽的女孩。
“她们虽然很漂亮，可是和兰妮公主相比，实在差太多了。”
王子心理非常思念兰妮公主。
“选妃舞会已经开始了，她为什么还不来呢？”
这时，女王转头微笑地对齐格夫王子说：“孩子，你看上哪一位小姐，今晚马上为你们举行婚礼。
王子觉得非常为难，便回答：“母亲，你别急，再等一会儿，我再做决定。”
可是，兰妮公主一直没有出现，眼看选妃舞会已经快要结束了。
六位小姐站成一排，心理都希望王子能够选中自己。
但是，王子不得不对她们说：
“实在对不起，我已经有了意中人。”六位小姐只好失望地回家。
忽然，一位高贵美丽的公主，从宫门外跑进来。
“啊！兰妮公主，我等你好久了。”
王子高兴地向前拉住她的手，把她带到大家面前宣布：
“兰妮公主是我的意中人，我决定和她结婚。”
女王看到美丽的兰妮公主，也非常喜欢，马上答应她们的婚事。
王子和公主高兴地跳着舞。
“王子，她是罗特巴的女儿，我才是兰妮公主呀！”
宫门入口忽然传来女孩的声音。王子停下舞步，大吃一惊，回头一看：
“不错，你才是兰妮公主，我记得你那美丽哀伤的眼神。”
他连忙推开身边的假公主，生气地说：
“你这个坏女人，为什么骗我？”
假兰妮公主摇身一变，变回原来邪恶的模样。
“哈！哈！你知道的太晚了。你已经向我求过婚，我父亲的咒语，永远也不可能解除，而且，你非和我结婚不可。”
“这是怎么一回事？”
女王气昏了。
齐格夫王子就把天鹅湖遇到兰妮公主的经过说出来。
忽然，巫师罗特巴出现了。 
“爱管闲事的王子，你的死期到了。”
罗特巴向齐格夫王子冲过来。
”王子拔出宝剑来迎战——　　“哼！你这个万恶的魔鬼真该死，我今天要为伸张正义而战。”
宫殿里的卫士和罗特巴的手下打成一片，而英勇的王子攻击大魔头罗特巴。
经过许久的战斗，忽然电光一闪，罗特巴和他的女儿，仓皇地逃跑了。
而空中却传来巫师的声音：
“齐格夫王子，你很勇敢，今天算你厉害，可是你永远都别想解开我的诅咒！”
兰妮公主听到自己永远不能恢复人形，伤心极了。只好对王子说：
“忘了我吧！天鹅湖才是我的家，请你另外找寻可爱的女孩子，取他为妻吧！”
公主说完之后，就流着眼泪，转身朝森林的天鹅湖跑去。
“兰妮公主，你不要走，等等我，我是真心爱你啊！”
王子连忙追赶兰妮公主。
天鹅湖畔的侍女，满心期待公主回来，能够告诉她们魔咒已经解除的好消息。
兰妮公主不理会王子的呼喊，拼命往前跑，等她到达天鹅湖畔，侍女们全都围过来问：
“公主，怎么样，我们不会再变成天鹅了吧！”
兰妮公主被她们一问，更加伤心地哭出声来。公主说出今天发生的事，她们听了也都留下眼泪。
“都是我不好，如果我早一点赶到王宫，王子就不会被妖女欺骗，害得大家永远不能恢复人形。”
伤心欲绝的兰妮公主，拔出短剑来，就要往自己的胸口刺去。
这时，王子及时赶到。
“兰妮！不可以！”
王子连忙将她手中的短剑夺下。
兰妮公主非常激动的说：
“让我死，我再也不能和你在一起，不如死了比较痛快。”
“兰妮，你不要难过，天下无难事，我一定会把那个可恶的巫师杀死，叫他为你解开魔咒，请相信我。”
“没有用的，如果巫师罗特巴死了，魔咒反而解不开。”
兰妮公主还是不停地哭泣。王子紧紧地握着她的手，安慰她：
“我们一定要有信心。”
忽然，森林深处传来猫头鹰的叫声。
巫师罗特巴又出现了。
这只猫头鹰忽然向王子突袭过来，他以尖锐的嘴，向王子的腿部攻击。
齐格夫王子马上拔出剑来，向巫师砍去——　　“可恶的巫师，看剑！” 
他一剑刺向猫头鹰的喉咙——　　“哇！”
猫头鹰从天空中跌下来，巫师鲜血直流，倒在地上死了。
王子回头望着兰妮公主。
“遭了，我们真的永远无法恢复人形了。”
”这时，王子才发现自己过于急躁，不该把唯一能解开咒语的巫师杀死。
兰妮公主已经完全绝望了。
“我宁可死，也不要永远是天鹅。”
她飞快的跑向山崖，纵身往下跳。
“公主！公主！”
王子和侍女们都追赶上来，可是已经来不及了。
“兰妮，你为什么这么傻。”
王子伤心地忘记自己腿伤的疼痛，站在山崖上一动也不动。
其他的侍女都悲伤地大哭。
“兰妮，我不能让你一个人独自死去，我来陪你了。”
话说完后，王子忽然往山崖一跳，也掉进山崖下的天鹅湖里。
“齐格夫王子！齐格夫王子！”
其他的侍女，都为王子的痴情，深深地感动。
不久，天色大亮。太阳公公出来了，奇怪的是，侍女们竟然没有变成天鹅。
“哇！太好了！我们的魔咒已经消失了。真的太棒了！”
侍女们高兴的手牵着手，拥抱在一起。
“是王子和公主用生命，换回我们的自由。”
高兴之余，有位侍女流着眼泪说：
“是王子和兰妮公主，你们看！”
侍女们全都惊讶地望向天鹅湖。
只见王子和兰妮公主一起从水中出现。
“王子和公主没有死！”
侍女们高兴的大叫。
原来是王子对兰妮公主的爱，感动了上天，所以不但将魔咒解除，还把他们从水中救出来。
齐格夫王子正式向兰妮公主求婚，侍女们高兴地跳起舞来，为他们祝福。</string>
		<key>image</key>
		<string>http://pic.baike.soso.com/p/20131221/20131221140719-1624237535.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>莴苣姑娘</string>
		<key>detail</key>
		<string>从前有一个男人和一个女人，他俩一直想要个孩子，可总也得不到。最后，女人只好希望上帝能赐给她一个孩子。他们家的屋子后面有个小窗户，从那里可以看到一 个美丽的花园，里面长满了奇花异草。可是，花园的周围有一道高墙，谁也不敢进去，因为那个花园属于一个女巫。这个女巫的法力非常大，世界上人人都怕她。一 天，妻子站在窗口向花园望去，看到一块菜地上长着非常漂亮的莴苣。这些莴苣绿油油、水灵灵的，立刻就勾起了她的食欲，非常想吃它们。这种欲望与日俱增，而 当知道自己无论如何也吃不到的时候，她变得非常憔悴，脸色苍白，痛苦不堪。她丈夫吓坏了，问她：“亲爱的，你哪里不舒服呀？”“啊，”她回答，“我要是吃 不到我们家后面那个园子里的莴苣，我就会死掉的。”丈夫因为非常爱她，便想：“与其说让妻子去死，不如给她弄些莴苣来，管它会发生什么事情呢。”黄昏时 分，他翻过围墙，溜进了女巫的花园，飞快地拔了一把莴苣，带回来给她妻子吃。妻子立刻把莴苣做成色拉，狼吞虎咽地吃了下去。这莴苣的味道真是太好了，第二 天她想吃的莴苣居然比前一天多了两倍。为了满足妻子，丈夫只好决定再次翻进女巫的园子。于是，黄昏时分，他偷偷地溜进了园子，可他刚从墙上爬下来，就吓了 一跳，因为他看到女巫就站在他的面前。“你好大的胆子，”她怒气冲冲地说，“竟敢溜进我的园子来，像个贼一样偷我的莴苣！”“唉，”他回答，“可怜可怜 我，饶了我吧。我是没办法才这样做的。我妻子从窗口看到了你园子中的莴苣，想吃得要命，吃不到就会死掉的。”女巫听了之后气慢慢消了一些，对他说：“如果 事情真像你说的这样，我可以让你随便采多少莴苣，但我有一个条件：你必须把你妻子将要生的孩子交给我。我会让她过得很好的，而且会像妈妈一样对待她。”丈 夫由于害怕，只好答应女巫的一切条件。妻子刚刚生下孩子，女巫就来了，给孩子取了个名字叫“莴苣”，然后就把孩子带走了。
　　“莴苣”慢慢长成了天底下最漂亮的女孩。孩子十二岁那年，女巫把她关进了一座高塔。这座高塔在森林里，既没有楼梯也没有门，只是在塔顶上有一个小小的窗户。每当女巫想进去，她就站在塔下叫道：
　　“莴苣，莴苣，
　　把你的头发垂下来。”
　　莴苣姑娘长着一头金丝般浓密的长发。一听到女巫的叫声，她便松开她的发辫，把顶端绕在一个窗钩上，然后放下来二十公尺。女巫便顺着这长发爬上去。
　 　一两年过去了。有一天，王子骑马路过森林，刚好经过这座塔。这时，他突然听到美妙的歌声，不由得停下来静静地听着。唱歌的正是莴苣姑娘，她在寂寞中只好 靠唱歌来打发时光。王子想爬到塔顶上去见她，便四处找门，可怎么也没有找到。他回到了宫中，那歌声已经深深地打动了他，他每天都要骑马去森林里听。一天， 他站在一棵树后，看到女巫来了，而且听到她冲着塔顶叫道：
　　“莴苣，莴苣，
　　把你的头发垂下来。” 
莴苣姑娘立刻垂下她的发辫，女巫顺着它爬了上去。王子想：“如果那就是让人爬上去的梯子，我也可以试试我的运气。”第二天傍晚，他来到塔下叫道：
　　“莴苣，莴苣，
　　把你的头发垂下来。”
　　头发立刻垂了下来，王子便顺着爬了上去。
　 　莴苣姑娘看到爬上来的是一个男人时，真的大吃一惊，因为她还从来没有看到过男人。但是王子和蔼地跟她说话，说他的心如何如何被她的歌声打动，一刻也得不 到安宁，非要来见她。莴苣姑娘慢慢地不再感到害怕，而当他问她愿不愿意嫁给他时，她见王子又年轻又英俊，便想：“这个人肯定会比那教母更喜欢我。”她于是 就答应了，并把手伸给王子。她说：“我非常愿意跟你一起走，可我不知道怎么下去。你每次来的时候都给我带一根丝线吧，我要用丝线编一个梯子。等到梯子编好 了，我就爬下来，你就把我抱到你的马背上。”因为老女巫总是在白天来，所以他俩商定让王子每天傍晚时来。女巫什么也没有发现，直到有一天莴苣姑娘问她： “我问你，教母，我拉你的时候怎么总觉得你比那个年轻的王子重得多？他可是一下子就上来了。”“啊！你这坏孩子！”女巫嚷道，“你在说什么？我还以为你与 世隔绝了呢，却不想你竟然骗了我！”她怒气冲冲地一把抓住莴苣姑娘漂亮的辫子，在左手上缠了两道，又用右手操起一把剪刀，喳喳喳几下，美丽的辫子便落在了 地上。然后，她又狠心地把莴苣姑娘送到一片荒野中，让她凄惨痛苦地生活在那里。
　　莴苣姑娘被送走的当天，女巫把剪下来的辫子绑在塔顶的窗钩上。王子走来喊道：
　　“莴苣，莴苣，
　　把你的头发垂下来。”
　 　女巫放下头发，王子便顺着爬了上去。然而，他没有见到心爱的莴苣姑娘，却看到女巫正恶狠狠地瞪着他。“啊哈！”她嘲弄王子说，“你是来接你的心上人的 吧？可美丽的鸟儿不会再在窝里唱歌了。她被猫抓走了，而且猫还要把你的眼睛挖出来。你的莴苣姑娘完蛋了，你别想再见到她。”王子痛苦极了，绝望地从塔上跳 了下去。他掉进了刺丛里，虽然没有丧生，双眼却被刺扎瞎了。他漫无目的地在森林里走着，吃的只是草根和浆果，每天都为失去爱人而伤心地痛哭。他就这样痛苦 地在森林里转了好几年，最后终于来到了莴苣姑娘受苦的荒野。莴苣姑娘已经生下了一对双胞胎，一个儿子，一个女儿。王子听到有说话的声音，而且觉得那声音很 耳熟，便朝那里走去。当他走近时，莴苣姑娘立刻认出了他，搂着他的脖子哭了起来。她的两滴泪水润湿了他的眼睛，使它们重新恢复了光明。他又能像从前一样看 东西了。他带着妻子儿女回到自己的王国，受到了人们热烈的欢迎。他们幸福美满地生活着，直到永远。</string>
		<key>image</key>
		<string>http://pic41.nipic.com/20140505/18620960_110007275196_2.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>没有手的姑娘</string>
		<key>detail</key>
		<string>从前有位磨房主，他越来越穷，除了磨房后有棵大大的苹果树外一无所有。有一天，他到森林里去砍柴，一个他从没见过的老头走近前来对他说：“你何苦这么辛苦地砍柴呀？
　　只要你答应把你磨房后的东西给我，我就让你过富人的日子。”
　　“磨房后面不就是那棵苹果树吗？”磨房主想。“行。”他说着就写了个承诺给陌生人。陌生人嘲笑地说：“三年之后，我会来取走属于我的东西。”说完便走了。
　 　磨房主回到家中，妻子迎出来对他说：“快告诉我，咱们家这些财富突然从什么地方来的？家里所有的箱笼一下子全被装满了，又没人来过，到底是怎么回事 呀？”磨房主回答说：“是我在森林里碰到的一个陌生人给的。他只要我们磨房后的东西作为回报。我们把那棵大苹果树给他不就得了。”
　　“唉呀，老公，”妻子吓坏了，“那准是恶魔！他不是要苹果树，他要的是我们女儿，她正在磨房后面扫院子呢。”
　 　磨房主的女儿是个美丽、虔诚的姑娘，她敬畏上帝、没犯任何过失。三年过去了，在恶魔要来带她走那天，她将自己从头到脚洗得干干净净，用粉笔绕着自己画了 一个圈。恶魔很早就来了，可就是没法靠近姑娘。他怒气冲冲地对磨房主说：“把水全给我拿走！让她没法洗得那么干净。要不然我对她就没有魔法了。”
　 　磨房主害怕，只得照办。第二天，恶魔又来了。可姑娘的泪水把她的手冲得十分干净。恶魔还是没法靠近她，因此气势汹汹地对磨房主说：“把她的手砍掉，要不 然我对她就没有魔力了！”磨房主吓了一跳，回答说：“我怎么能砍自己孩子的手呢！”恶魔威胁说：“如果你不这么做，你就是我的，我就要把你带走。”这位父 亲吓坏了，答应照他说的去做。他走到女儿跟前，对她说：“我的孩子，假如我不砍掉你的手，恶魔就要把我抓走，我吓坏了，就答应了他。现在请你帮帮我，饶恕 我对你的伤害吧。”姑娘回答说：“亲爱的父亲，尽管砍吧，我是你的孩子。”说着，她伸出了双手，让父亲砍下了。
　　恶魔第三次来到磨房。可是姑娘一直在哭泣，泪水将残肢冲洗得十分洁净。恶魔只好放弃了，而且对姑娘失去了所有权。
　 　磨房主对女儿说：“我以你为代价换取了这么多财富。只要你活着，我就会让你过得舒舒服服的。”可是姑娘回答说：“我不能住在这里，我情愿出去，有同情心 的人们会给我所需要的东西的，”她请人将她残废的手绑到身后，等太阳升起来的时候，便出发了。她走了一整天，太阳下山时她来到一个皇家花园，在闪烁的月光 中，她看到园子里挂满了诱人的果子的果树。但是她无法进去，因为果园被一道满是水的深壕围住了。
　　姑娘已经走了整整一天了，而且没吃过任何东 西。她饿得要命。“啊，如果我在果园里面就能吃到水果了，”她想，“否则我准会饿死的！”她跪到地上向上帝祈祷。忽然，有个天使向她走来，在水中筑起一道 堤坝。这样一来，壕中的水干了，姑娘就可以走到果园去了，天使陪着她一起进了果园。果园的树上挂满了迷人的梨子，可每个上面都编了号，姑娘来到梨子树前， 用嘴咬下一只吃了，然后满足地钻进了灌木丛。园丁看到了这一切，可见天使站在姑娘身边，便以为是幽灵，有些害怕，所以不敢出声，更不敢大声喊叫。
果园的主人是个国王。第二天，他来到果园数梨时发现少了一个，而且并没有落在地上。他问园丁怎么回事，园丁回复说：“昨晚来了个幽灵，没有手，用嘴咬掉了一个。”“幽灵怎么越过水沟的呢？吃完梨之后上哪儿去了呢？”国王问。
　　园丁回答说：“有个浑身雪白的人从天而降。他筑起一道堤坝拦住了水，让幽灵走了过来。我想那人准是个天使，所以有些惧怕，没敢出声。幽灵吃完梨就走了。”
　　“我今晚和你一起看看是不是真像你说的那样。”国王说。
　 　天黑了，国王带着牧师来到果园。他要牧师来是为了和幽灵对话。他们三人坐在树下等着、看着。半夜时分，姑娘从灌木丛里爬了出来，走到梨树下，用嘴咬下一 个梨，身穿白袍的天使仍然陪着她。牧师从树下走出来对他们说：“你们是从天上来的，还是从地下来的？是人还是鬼？”姑娘回答说：“我不是鬼，我是个不幸的 人。除了上帝外，人人都抛弃了我。”国王接口说：“即使世界上所有的人都抛弃了你，我也不会那么做的。”他将姑娘带回王宫，姑娘的美貌和善良使国王深深地 爱上了她。他为姑娘做了一双银手，并娶她为妻。
　　一年以后，国王不得不远行。他将年轻的王后托咐给母亲，说：“假如她生了孩子，请好好照顾她， 同时尽快把消息告诉我。”后来姑娘果真生了个健康漂亮的男孩，国王年迈的母亲立刻将这一令人振奋的消息写在信上派人给国王送去。但送信人在路上的一条小溪 边歇息的时候睡着了。再说那个恶魔一直想伤害好心的王后。这时，他将另一封信放进信使的口袋里，上面说王后生了一个妖怪。国王收到信后十分震惊，而且百思 不得其解。他回信要大家仍悉心照料王后，一切等他回来再说。送信人带着国王的信往回走，又在来时歇息的地方打了个盹。恶魔又把另一封信装进信使的口袋，上 面要他们将王后和她生的孩子处死。
　　国王的母亲见信后大惊失色，简直不敢相信。因此又写了一封信给国王，可是没有回音。因为恶魔每次都把信换了。最后一封信上要求把王后的舌头和眼睛挖出来留作服从国王命令的见证。
　　国王的母亲哭了，她不愿意看到无辜的人被杀害。于是她趁天黑时杀了一头鹿，留下了舌头和眼睛，然后对王后说：“我不愿按国王的命令杀你，但是你不能再住在这儿了。带着孩子走吧，别再回来。”
　 　可怜的妇人把孩子背到背上，含泪离开了王宫。她来到一座大森林里，跪下来向上帝祈祷。天使来到她跟前，把她领到一座小屋前。那里挂着一块牌子，上面写 着：“一切免费。”一位雪白的侍女从屋里走出来说：“欢迎你，王后。”然后将她引进屋里。她将孩子从王后背上解下来，抱到她怀里让孩子吃奶，随后将孩子放 到一张做得极其精致的小床上。可怜的妇人问：“你怎么知道我是个王后。”白侍女回答说：“我是个天使，上帝派我来照顾你和孩子的。”王后在这里生活了七 年，受到很好的照顾。由于她虔诚地信仰上帝，因此上帝让她被砍断的双手又长了出来。 
国王终于归来了，他的第一个愿望就是看看他的妻子和儿子。他年迈的妈妈哭着对他说：“你这个坏家伙，为什么写信要我杀那两个无辜的人？”她拿出那两封被恶魔换了的信给国王看，接着说：“我已经照办了。”说着拿出舌头和眼睛作证。
　 　国王为可怜的妻子和儿子痛哭流涕，伤心的程度远超过他母亲。老母看他哭得实在可怜，就对他说：“别哭了，她还活着。我悄悄地杀了一头鹿，取了那些证物。 实际上我把孩子绑到你妻子的背上，让她到野外谋生，要她别再回来，因为你信上似乎对她很恼怒。”国王说：“只要我亲爱的妻子和儿子没被杀害或饿死，走遍天 崖海角我也一定要找到他们，否则我不吃也不喝。”
　　于是国王找了七年，不吃也不喝，但是上帝在暗中帮助他支撑着。他找遍了每一个石缝、每一个山 洞，但还是没有找到，他想她准是因为缺衣少食死了。最后他来到了大森林，看到了小屋和上面挂着的“一切免费”的牌子。白衣侍女走出来，拉着他的手将他领进 屋子说：“欢迎光临，国王陛下。”又问他从何而来。国王回答说：“我出来寻找我妻子和孩子已经七年了，我几乎找遍了每一个地方，可就是找不到。”天使请国 王吃点肉、喝点酒，国王什么也没吃，说只想休息一下。
　　他躺下，将一块手帕遮在脸上睡了。
　　天使走进王后和她儿子“悲伤”住的房间， 对她说：“带着孩子出去吧，你丈夫找你们来了。”于是王后带着儿子来到国王睡觉的地方。手帕从国王的脸上滑落到地上，王后对儿子：“悲伤，去把你父亲的手 帕捡起来，盖到他脸上。”孩子走过去，捡起手帕盖到国王脸上。国王在睡梦中听到了，便很高兴地让手帕再次滑落到地上。可孩子不耐烦地说：“亲爱的母亲，我 在这世上不是没父亲吗？你怎么叫我用手帕盖住父亲的脸？我已经学会祈祷‘我们在天之父’，你不是说我父亲在天国吗，是仁慈的上帝，现在怎么又说这陌生人是 我父亲？他不是我父亲。”国王一听，马上坐了起来，问他们是谁。王后回答说：“我是你的妻子，他是你的儿子‘悲伤’。”
　　国王看到王后那双自然生长的手，说：“我妻子的手是银子做的。”王后回答说：“仁慈的上帝让我又长出了一双手。”天使走进内室，拿出那双银手给国王看。这时国王才确信这就是他亲爱的妻子和儿子，他亲吻了他们，高兴地说：“这下我心中的石头算是落地了。”
　　上帝派来的天使和他们一起吃了最后一顿饭。随后国王带着妻儿回到王宫，见到了老母亲，到处一片欢腾。国王和王后再次举行了婚礼，从此永远幸福满足地生活在一起。</string>
		<key>image</key>
		<string>http://m1.app111.com/AppImg/0x0/2011/07/11/74ad0580-b89f-4c95-9d54-0c01c7e89d02.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>魔鬼的三根金发</string>
		<key>detail</key>
		<string>从前，有一个穷人，他只生了一个儿子。儿子在出生时，天上吉星高照，看见的人都说他这个儿子有红运，在十四岁的时候会和国王的女儿结婚。正巧，这个王国的国王在孩子出生后不久微服私访，他从这个村庄经过时，询问这儿是不是有什么新闻话题。有个人说：“有的，这儿刚出生了一个孩子，人们都说这是一个很幸运的孩子，还说他在十四岁的时候，命中注定要和国王的女儿结婚。”国王听了很不高兴，于是找到这个孩子的父母亲，问他们是否愿意把他们的儿子卖给他。他们很坚决地说：“不卖！”但这个陌生人百般请求，又拿出一大笔钱。由于他们穷得几乎连面包也没有吃的了，所以他们最后同意了。他们想这孩子既然是一个幸运的孩子，他一定会安全回来的。
国王抱着这个孩子，把他放进一个箱子里面，然后骑着马带走了。当他走到一条很深的小河边时，他把箱子扔进了水流中，自言自语地说：“这个小绅士永远也不会做我女儿的丈夫了。”然而，神灵保佑着这个孩子，箱子并没有沉到水里去，而是漂浮在水面上，并且没有一滴水漏进箱子里。最后，这只箱子漂到离国王两里远的地方，停在了一座磨坊的的拦水坝上。不久，磨坊的主人看到这只箱子，便拿来一根长竿子，把箱子打捞到岸边。他发现箱子很沉，以为里面会有金子，打开箱子一看，发现里面竟是一个漂亮的小男孩。孩子对他露出了快乐的笑容，像看到了亲人一样。因为他和他妻子正好没有小孩，所以他们非常高兴，很自豪地说：“这是上帝送给我们的。”他们非常细心地哺养小孩，又耐心地培养他。
小孩慢慢地长大了，长得真是人见人爱。
十三年转眼就过去了。有一次，国王偶然来到磨坊，他看见这个可爱的孩子，就问磨坊主，这个少年是不是他们的儿子，磨坊主回答说：“不是的，我是在他还是一个婴儿时，在一只漂在拦河坝上的箱子里面发现的。”国王一听连忙问道：“有多久了？”磨坊主回答说道：“大约有十三年了。”国王马上明白这少年正是他装到箱子里面，又扔到河里的那个孩子。回想起以前的传言，他不甘心，又想出了个主意，他说道：“他是个多可爱的小伙子，能要他帮我送一封信给王后吗？要是乐意的话，我会给两块金元宝作为他的辛苦费。”磨坊主回答说：“谨遵陛下的吩咐。”
国王写了一封给王后的信，信中说：“这个送信的人一到达，就把他立即杀死埋掉，在我返回前，一切都要做完。”
少年人带着信出发了，可他却在路上迷失了方向，晚上竟撞进了一座大森林，他不得不在黑暗中摸索着寻找出路。透过黑夜，他看到不远处有灯火晃动，循着火光，他来到了一座小村舍。房屋里有一个老太婆，老太婆看到他后很害怕，说道：“你怎么到这儿来了？你要去哪里呀？”“我要去见王后，给她送一封信，但我迷路了，很想在这儿过夜休息一下。”“你太不幸运了，竞撞进这个强盗窝，要是那帮强盗回来看到你在这儿，他们会杀死你的。”他回答说：“我太疲倦了，管它哩，我已经走不动了，先休息再说。”说完，把信放在桌子上，躺在一条长凳子上，自个儿睡着了。
强盗们回来看到他，便问老太婆这个陌生的少年是谁。她回答说：“他是给王后送信的人，中途迷路了才走到这儿的。”强盗们拿起信，拆开一看，里面写的是要王后杀掉送信者。不知是出于同情这个少年，还是想和国王作对，强盗头将信撕了，另外写了一封信，信中要王后在这个少年到达后，马上让他和公主结婚。他们没有惊动他，一直到第二天早晨他起来后，才由老太婆指给他去王宫的正确道路。
少年到了王宫，将信交给王后。王后看过信，马上为婚礼作了尽可能周到的准备。看到少年如此英俊，公主非常愿意嫁给他作妻子。过了一段时间，国王回宫了。当他看到预言成为现实，这个幸运的孩子不仅没有在他的奸计中丧生，而且和他的女儿结了婚，很想知道事情怎么会变化成现在这个样子的，他发出的命令完全不是这样的啊！王后说：“我亲爱的，你的信在这儿，你自己看看吧！”国王看过信，知道信已经被调换了，就问这位女婿他拿着自己要他传送的信干了些什么事情。他回答说：“我什么事也没干，一定是晚间我睡觉的时候，信被人做了手脚。”国王听了，气得暴跳如雷，叫道：“任何要娶我女儿的人都必须下到地狱去，把魔王头上的三根金头发给我取来。只有这样，我才同意他做我的女婿。”少年说道：“我一定很快就会办到。”于是，他告别妻子，踏上了冒险之路。
他经过第一座城市时，城市卫兵拦住他，问他是干什么活的，他回答说：“我什么事都能干！”他们说道：“如果真是这样，你就是我们想要找的人。请告诉我们，在我们的城市里，集市中有一口喷泉为什么干了，再没有泉水冒出来？要是你找出是什么原因的话，我们将给你两头驮满金子的驴。”他说道：“等我回来的时候，我就全部都知道了。”不久，他来到了另外一座城市，那儿的卫兵也问他有什手艺，懂得什么。他回答说：“我什么事都能干！”他们说：“那就请为我们做一件事情，告诉我们那棵过去为我们结金苹果的树，现在为什么连一片叶子也不生了。”他说道：“我非常愿意为你们效劳，当我回来时，我就知道了。”
最后，他来到一个大湖边，他必须横渡过去。年轻人找到一只渡船后，摆渡的船夫不久就开始问他是干什么的，懂得什么事情。他说：“我什么事都懂！”船夫说道：“那么，请指教我，为什么我总是在这水上摆渡，始终不能脱开身子去干其它的行当。你要是能告诉我，我将重重地谢你。”年青人说：“当我返回时，我会告诉你有关方法的。”
渡过湖后，他来到了地狱。地狱看起来既阴森又恐怖，但魔王此刻不在家里，他的奶奶正坐在安乐椅上。看到他后，她问道：“你来找什么呀？”他回答道：“魔王头上的三根金头发。”接着，他把自己的遭遇告诉了她。“你真是敢冒奇险啦！”她很同情，又很赞赏这个年青人，决定帮助他，就说道：“我会尽我所能来帮助你的。”说罢，他把年轻人变成了一只蚂蚁，要他躲藏在她外衣的褶皱里。他很感激地说：“太好了，不过我还想知道，为什么那个城里的喷泉干枯了？为什么结金苹果的树，现在连叶子也不生了？是什么原因使船夫老在那儿摆渡？”老奶奶听了说道：“那的确是三个令人费解的问题，但你在我给魔王拔金头发时，静静地趴着别动。千万留神听魔王所说的话。”
天黑不久，魔王回家来了。他一进来就开始用鼻子不停地嗅空气，大叫道：“这儿不对头，我闻到了人肉的气味。”到处翻弄察看之后，他什么也没找着，老奶奶责骂说：“我刚刚才收拾整齐，你为什么又把屋子搞得乱七八糟呢？”经过这一阵折腾之后，他也累了，就把头枕在奶奶的膝上，很快睡着了，不久就发出了鼾声。这时，老奶奶抓住他头上的一根金头发拔了出来。魔王“哎哟！”叫喊一声惊跳起来，“你在干什么呀？”她回答说：“我做了一个恶梦，情急之中，抓了一下你的头发。我梦见有个城市的集市上有一口喷泉干枯了，没有水流出来，不知道是什么原因？”魔王说道：“嗨！要是他们能够知道，他们一定会欢呼的。其实，那只是喷泉里面的一块石头下蹲着一只癞蛤蟆，只要把癞蛤蟆打死，泉水又会流出来的。”
说完这话，他又睡着了。老奶奶趁机又拔了他一根头发，他惊醒后气冲冲地叫道：“你到底要干什么？”她说道：“别发火，我刚刚睡觉时梦见在一个大王国里，有一棵美丽的树，这棵树过去是结金苹果的，但现在树上却一片叶子也不生了，这是什么原因呢？”魔王说道：“嗨！要是他们知道这个秘密，一定高兴得不得了。在那棵树的根部，有只老鼠在不停地啃咬树根，他们必须把它打死，那棵树才能重新结出金苹果。如果不这样做，那树它很快就要死去。现在让我安稳地睡觉吧，要是你再把我弄醒，你会后悔的。”
接着，他再次睡了过去，当听到他发出呼噜声后，老奶奶再次拔下了第三根金头发。魔王跳起来厉声喊着就要发作，但她还是使他平静下来了，说道：“我又做了一个奇怪的梦，梦见一个船夫似乎命中注定要在一个湖上不停地为人来回摆渡，总是脱不开身，是不是有什么魔力困住了他？”魔王听了说道：“真是一个蠢东西！如果他把船篙塞到另外一个渡客的手中，他不就脱开身了吗？那渡客不就取代他的位置来摆渡了？让我好好地睡吧，再别打扰我了。”
到第二天早上，魔王起来之后出去了。老奶奶将蚂蚁变回成年轻人原样后，把三根金发给了他，叮嘱他要记住那三个问题的答案。年轻人在真诚道谢之后，步上了回家的旅程。
不久，他回到渡口。船夫看到他回来了，询问他应允自己的问题的答案，年轻人说：“你先把我渡过去，我再告诉你脱身的办法。”当船到达对岸后，他告诉船夫，只要把手中的船篙塞到其他渡客手中，他就可以脱开身任意去留了。接着，他到了那棵不结金苹果树所在的城市，他告诉他们说：“只要把那只啃咬树根的老鼠打死，你们又会收获金苹果了。”他们把很多财宝作为礼物送给了他。最后，他回到喷泉枯竭了的城市，卫兵请求他给他们答案，他告诉他们必须杀死石头下的癞蛤蟆，水才会流出来。他们很感激他，给了他两头驮满金子的驴子。
终于，这个幸运儿回到了家里，妻子看到他，又听到他把所有的事都办妥了，高兴极了。年轻人把三根金头发交给了国王，国王再也不能反对他跟自己女儿的婚事了。当他看到所有的金银财宝时，激动万分地说道：“我亲爱的女婿，你是在哪儿找到这些金子的？”年轻人说道：“在一个湖边，那儿有好多好多的金银财宝。”国王连忙问道：“请告诉我，我也可以去那儿得到一些吗？”年青人回答说：“随便你要多少。你在那个湖上会看见一个船夫，让他把你载过湖去，你就会看到岸上的金子像沙子一样多。”
贪财的国王急急忙忙地起程去了。当他来到湖边时，他唤过船夫说要过湖去，船夫便要他坐上船来。他刚一上船，船夫马上把船篙塞到他手中，然后跳上岸走了，留下老国王在那儿摆渡。这就是对他罪孽的报应。
如果有人问：“那位国王现在还在那儿摆渡吗？”你也许会说：“是的！因为没有人会从他手中接过船篙，自己给自己添麻烦。”</string>
		<key>image</key>
		<string>http://www.storychina.cn/UploadFile/200910231444376.jpg</string>
	</dict>
</array>
</plist>
